<div class="container mt-3">
  <h1>All our flats (<%= @flats.length %>)</h1>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4 p-2">
        <div class="flat-thumbnail" style="background-image: url('<%= flat.url %>')"></div>
        <div class="border bg-light p-3">
          <h6><%= flat.name %></h6>
          <p><%= flat.address %></p>
          <i class="fa-solid fa-people-group"> 3</i>
          <i class="fa-solid fa-euro-sign"> 40</i>
        </div>
        <div class="border p-2">
          <%= link_to "More info", flat_path(flat) %>
          <%= link_to "Edit", edit_flat_path(flat), :class => "ms-3 text-warning" %>
          <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "ms-3 text-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
